

.staff-content{
    height: 30vh;

}
.container{
    background-color: #689c8b;
    padding: 2%;
}
img {
    max-width: 100%;
    height: auto;
}
.image1{
    background-image: url('images/trimmer.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    background-size: contain;

}
.image2{
    background-image: url('images/reception.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    background-size: contain;

}
.image3{
    background-image: url('images/ceo.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    background-size: contain;

}
